*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;               
  padding: 0;             
  font-family: 'Itim', cursive, sans-serif;  
  background-color: rgba(244, 244, 222, 0.79);           
  line-height: 1.5;        
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;  
  min-height: 100vh;
}

footer {
  text-align: center;
  padding: 1rem;
  
}

footer p {
  font-size: 17px;
}

@media (max-width: 600px) {
  footer p {
    font-size: 15px;
  }
}







